<section class="login-form">
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        #f="ngForm"
        fxLayoutGap="10px"
        ngSubmit="onSubmit(f)"
    >
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input 
                matInput 
                placeholder="Email" 
                type="email" 
                ngModel 
                name="email"
                required
                #emailInput="ngModel"
            >
            <mat-error >Email is required</mat-error>   
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input 
                type="password" 
                matInput 
                placeholder="Password" 
                ngModel 
                name="password"
                required
                minlength="6"
                #pwInput="ngModel"
            >
            <mat-error>
                {{passwordReduired}}
            </mat-error>
        </mat-form-field>
    </p>
        <button 
            mat-raised-button 
            color="primary"
            type="submit"
            [disabled]="f.invalid"
        >
        Submit
        </button>
    </form>
</section>