<section class="login-form">
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
    >
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input 
                type="email"
                matInput
                placeholder="Your email"
                formControlName="email"
            >
            <mat-error >Email is required</mat-error>   
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input 
                type="password"
                matInput
                placeholder="Your password"
                formControlName="password"
            >
            <mat-error>
                {{passwordReduired}}
            </mat-error>
        </mat-form-field>
    </p>
    <mat-spinner 
    *ngIf="isLoading"
    aria-label="Loading"
    color="accent"
    ></mat-spinner>
        <button 
            *ngIf="!isLoading"
            mat-raised-button 
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
        >
        Submit
        </button>
    </form>
</section>