<mat-nav-list>
  <div *ngIf="!isAuth">
    <a 
      mat-list-item 
      routerLink="/login" 
      (click)="closeSideNavToggle()"
      >
      <mat-icon color="accent">face</mat-icon><span class="navigation-caption">Login</span>
    </a>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="!isAuth">
    <a mat-list-item routerLink="signup" (click)="closeSideNavToggle()">
      <mat-icon color="accent">person_outline</mat-icon><span class="navigation-caption">Sign up</span>
    </a>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="isAuth">
    <a mat-list-item routerLink="/training" (click)="closeSideNavToggle()">
      <mat-icon color="accent">rowing</mat-icon><span class="navigation-caption">Train</span>
    </a>
    <mat-divider></mat-divider>
  </div>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogOut()">
      <mat-icon color="accent">eject</mat-icon>
      <span class="navigation-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
